<div class="formulario">
	<div class="formulario-contacto">Formulario de contacto:</div>
	    <div class="completar">
			<div class="campo">
				Nombre: 
				<input type="text" name="nombre" size="20" maxlength="60">
			</div>
			<div class="campo"> 
				Correo electronico:
				<input type="text" name="nombre" size="25" maxlength="60">
			</div>
			<div class="campo">
				Asunto: 
				<input type="text" name="nombre" size="35" maxlength="30">
			</div>
			<div class="campo">
				Mensaje:
				<textarea rows="4" cols="20"></textarea>
			</div>

		    <div>
			 <button class="boton" type="submit">Enviar</button>

		    </div>
        </div>
</div>