<div class="formulario">
<h3 id="contacto">Formulario de contacto:</h3>
	<form>
		Nombre: 
		<br>
		<input type="text" name="nombre" size="20" maxlength="60">
	<br>

		Correo electronico:
		<br> 
		<input type="text" name="nombre" size="25" maxlength="60">
	<br>
		Asunto: 
		<br>
		<input type="text" name="nombre" size="35" maxlength="30">
	<br>
		Mensaje:
		<br>
		<textarea rows="4" cols="20"></textarea>
	<br>

	<button class="boton" type="submit">Enviar</button>

	</form>

</div>