<div id="botonera2">
  <ul>
    <li>
      <input type="checkbox" name="Centro educativo" value="si">Centro educativo
    </li>                  
    <li>
      <input type="checkbox" name="Centro de salud" value="si">Centro de salud
    </li>
    <li>
      <input type="checkbox" name="Asesor legal integral" value="si">Asesor legal integral
    </li>  
    <li>
      <input type="checkbox" name="Recreacion" value="si">Recreacion
    </li>
  </ul>
  <ul>
    <li>
      <input type="checkbox" name="Deporte y cultura" value="si">Deporte y cultura
    </li>                  
    <li>
      <input type="checkbox" name="Comunicacion" value="si">Comunicacion
    </li>
    <li>
      <input type="checkbox" name="Centro de jubilados" value="si">Centro de jubilados
    </li>  
    <li>
      <input type="checkbox" name="Ambiente" value="si">Ambiente
    </li>
  </ul>
</div>

  <%= map(
    :center => {
      :latlng => [-34.6752, -58.4295],
      :zoom => 16
    }, 
    :markers => @lugares.map { |l| l.marker }
    )%>

<div class="mapa">
  <%= link_to 'Nuevo Lugar', new_lugar_path, class: "boton-nuevo" %>
</div>