<div id="botonera2">
  <ul>
    <li>
      <input type="checkbox" name="Centro educativo" value="si">Centro educativo
    </li>                  
    <li>
      <input type="checkbox" name="Centro de salud" value="si">Centro de salud
    </li>
    <li>
      <input type="checkbox" name="Asesor legal integral" value="si">Asesor legal integral
    </li>  
    <li>
      <input type="checkbox" name="Recreacion" value="si">Recreacion
    </li>
  </ul>
  <ul>
    <li>
      <input type="checkbox" name="Deporte y cultura" value="si">Deporte y cultura
    </li>                  
    <li>
      <input type="checkbox" name="Comunicacion" value="si">Comunicacion
    </li>
    <li>
      <input type="checkbox" name="Centro de jubilados" value="si">Centro de jubilados
    </li>  
    <li>
      <input type="checkbox" name="Ambiente" value="si">Ambiente
    </li>
  </ul>
</div>

<div class="mapa">
  <iframe src="https://www.google.com/maps/d/embed?mid=1k3zfpiY3L03_kAyLPSDEQNys2NxwlusS" width="640" height="480"></iframe>  
  <%= link_to 'Nuevo Lugar', new_lugar_path, class: "nuevo-lugar" %>
</div>
