<div id="botonera2">
  <ul>
    <li>
      <input type="checkbox" name="Centro educativo" value="si">Centro educativo
    </li>                  
    <li>
      <input type="checkbox" name="Centro de salud" value="si">Centro de salud
    </li>
    <li>
      <input type="checkbox" name="Asesor legal integral" value="si">Asesor legal integral
    </li>  
    <li>
      <input type="checkbox" name="Recreacion" value="si">Recreacion
    </li>
  </ul>
  <ul>
    <li>
      <input type="checkbox" name="Deporte y cultura" value="si">Deporte y cultura
    </li>                  
    <li>
      <input type="checkbox" name="Comunicacion" value="si">Comunicacion
    </li>
    <li>
      <input type="checkbox" name="Centro de jubilados" value="si">Centro de jubilados
    </li>  
    <li>
      <input type="checkbox" name="Ambiente" value="si">Ambiente
    </li>
  </ul>
</div>

<div id ="mapa">
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13124.931120691499!2d-58.420049825903305!3d-34.674074012738636!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1524677946302" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</img>
</div>
