<p>
  <strong>Titulo:</strong>
  <%= @infojardin.nombre %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @infojardin.fecha %>
</p>
 
<p>
  <strong>Descripcion:</strong>
  <%= @infojardin.descripcion %>
</p>

<%= link_to 'Volver', infojardin_path %>