/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 *= require leaflet

 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: white
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#titulo{
    height: 70px;
    text-align: left;
    font-family: 'Fredericka the Great', cursive;
    font-size: 68px;
    float: left;
    
}
#titulo h1{
    font-size:auto;

}

#clima {
    justify-content:center;
    width:auto;
    height:auto;
    display: flex;
    
}
#encabezado{
    height: 116px;
    text-align: center;
    width: 100%;
    background-color: white

}
.encabezado {
    flex-direction:column;
}

#botonera {
    height: 44px;
    background-color: #9BCC76;
    width: 100%;
    margin-right: 15px;
    margin-top: 20px;
    }

#botonera ul {
    display: flex;
    justify-content: center;
}

#botonera ul li {
    padding: 0;
}

#botonera ul li a {
    float: left;
    padding-left: 190px;
    padding-top: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
    text-decoration: none;
    color:#FFF;

}
#botonera ul li a:hover {
    color: #ffd32a

}

#contenido{
    background-color: white;
    width: 100%;
    height: auto;
    font-family:  'Indie Flower', cursive;
}


#fecha {
    float: right;
    

}

    #footer {
    height: 150px;
    background-color: #1d84b5;
    text-align: center;
    float: bottom;
    margin-top: 240px;
    font-family:  'Indie Flower', cursive;
}