.tabla, tr, td {
    border: 3px solid black;
    margin-left: 120px;
   	float:center;

}


#tabla {
 margin-left: 320px;

 }
.tabla {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
 

}
.tabla td, .tabla th {
  border: 2px solid #444444;
  padding: 3px 2px;
}
.tabla tbody td {
  font-size: 16px;
}
.tabla tr:nth-child(even) {
  background: #D0E4F5;
}
.tabla thead {
  background: #74D870;
  background: -moz-linear-gradient(top, #97e294 0%, #82dc7e 66%, #74D870 100%);
  background: -webkit-linear-gradient(top, #97e294 0%, #82dc7e 66%, #74D870 100%);
  background: linear-gradient(to bottom, #97e294 0%, #82dc7e 66%, #74D870 100%);
  border-bottom: 2px solid #444444;
}
.tabla thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #1D84B5;
}
.tabla thead th:first-child {
  border-left: none;
}

#formulario form {
  margin-left: 830px;
  margin-bottom: 10px;
 }

 #formulario form input {
  margin-bottom: 10px;
 }

.eventos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#calendar {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
}

.proximos-eventos{
  width:20%;
  text-align: left;
  margin-right: 80px;
}
.proximos-eventos h2 {
 text-align: center;
  border: 1px solid #444444;
  color: #101712;
  font:inherit;
  font-size: 20px;
  font-family:  'Indie Flower', cursive;
  background-color:#E8F46d;
}

.proximos-eventos li {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nuevo {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.volver {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.volver2 {
  font-size: 20px;
  margin-top: 20px;
  text-align: center; 
}

//Botonera de compartir en WhatsApp//
.compartir{
  text-decoration: none;
  padding: 3px;
  font-weight: 60;
  font-size: 15px;
  color: #ffffff;
  background-color: #4EB621;
  border-radius: 5px;
  border: 2px solid #0016b0;
  margin-top: 20px;
}
//Botonera de compartir en WhatsApp//

//Parte de un evento cualquiera //
.nombre{
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.fecha{
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.ubicacion{
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.descripcion{
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
} 
//Parte de un evento cualquiera //